.flex-container {
    display: flex;
}

.centerPanel {
    /* padding-top: 30px;
    padding-bottom: 30px; */
}

.Panel1 {
    flex: 1;
}

.Panel2 {
    flex: 2;
    background-color: purple;
}

.Panel3 {
    flex: 1;
}

#nikePhoto {
    min-height: 100%;
}

#headPhonePhoto {
    min-height: 100%;
}