.flex-container {
    display: flex;
}

.centerPanel {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.Panel1 {
    flex: 1;
}

.Panel2 {
    flex: 2;
    /* background-color: lightgray; */
    background-color: black;
}

.Panel3 {
    flex: 1;
}

.columnSection {
    border: 5px solid white;
}


.box {
    height: 80vh;
    border: solid black 2px;
}

.icons {
    margin: auto
}

.whiteText {
    color: white;
}

.iconsDiv {
    margin: 100px;
    
}

.namePhotoQuoteSection {
    margin: 30px 50px;
}

a {
    margin: auto;
}


#nikePhoto {
    min-height: 100%;
}

#headPhonePhoto {
    min-height: 100%;
}

#quoteHeading {
    margin: 1em 2em;
    
}

#photoDiv {
    background-color: black;
    margin-bottom: 0px;
}

#portfolioLinkIconSection {
    background-color: black;
}


